.blogs_blogTitle
{
    margin-top:0px;
    margin-bottom: 20px;
}
.blogs_navigation_header{
    font-size:small;
    margin-bottom: 10px;
}

.blogs_entry{
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}
.blogs_entry_title{
    margin-top:0px;
    margin-bottom: 20px;

}
.blogs_entry_meta {
    font-size: small;
    color:#999;
    margin-bottom: 20px;
}
.blogs_entry_status {
    text-align: right;
}
.blogs_entry_body1{
    margin-bottom: 20px;
}
.blogs_entry_reaction{
    margin-top: 20px;
    font-size: small;
    margin-bottom: 20px;
}